﻿@model LANREG.Models.organization

@{
    ViewBag.Title = "New Organization";
}

<h2>New Organization</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>organization</legend>

        <div class="editor-label">
            Organization Name
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.name)
            @Html.ValidationMessageFor(model => model.name)
        </div>

        <div class="editor-label">
            Desired URL (www.lanreg.com/{url})
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.org_url)
            @Html.ValidationMessageFor(model => model.org_url)
        </div>

		<div class="editor-label">
			Organization Description
		</div>
		<div class="editor-field">
			@Html.TextAreaFor(model => model.description)
			@Html.ValidationMessageFor(model => model.description)
		</div>
		<div class="editor-label">
			Organization Location
		</div>
		<div class="editor-field">
			@Html.EditorFor(model => model.location)
			@Html.ValidationMessageFor(model => model.location)
		</div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
