﻿@model IEnumerable<LANREG.Models.organization>

@{
    ViewBag.Title = "Groups";
}

<h2>All Groups</h2>

<p>
    @Html.ActionLink("Create a new Group", "Create")
</p>

@foreach (var item in Model) {
<div style="background-color: #7AC0DA; margin-bottom:20px; padding:10px">
	<table>
		<tr>
			<td>
				<h3>@Html.ActionLink(item.name, "Details", "Organization", new { org_url = item.org_url }, null)</h3>
				<p>@Html.DisplayFor(modelItem => item.description)</p>
			</td>
			<td>
			<p>Events: </p>
			@foreach (var item2 in item.parties) {
				@Html.ActionLink(item2.name, "Details", "Party", new { party_url = item2.party_url }, null)
			}
			</td>
		</tr>
	</table>
</div>
}
