﻿@model LANREG.Models.layout

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>layout</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.numSeats)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.numSeats)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.organization.name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.organization.name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.shared)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.shared)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
