﻿@model LANREG.Models.layout

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>layout</legend>

        @Html.HiddenFor(model => model.id)

        <div class="editor-label">
            @Html.LabelFor(model => model.name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.name)
            @Html.ValidationMessageFor(model => model.name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.numSeats)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.numSeats)
            @Html.ValidationMessageFor(model => model.numSeats)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.org_id, "organization")
        </div>
        <div class="editor-field">
            @Html.DropDownList("org_id", String.Empty)
            @Html.ValidationMessageFor(model => model.org_id)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.shared)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.shared)
            @Html.ValidationMessageFor(model => model.shared)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
