﻿@model IEnumerable<LANREG.Models.layout>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.numSeats)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.organization.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.shared)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.numSeats)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.organization.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.shared)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
