﻿@model LANREG.Models.SeatingSelectionModel

@{
    ViewBag.Title = "Index";

	// counters and stuff
	int i, j, row_num, cell_num, currSeat;

	// style strings
	string seatingStyle = null;

	// seat element strings
	string mouseOverJS = null;
	string mouseOutJS = "seatinfo_hide()";
	string mouseClickJS = null;
	string noUserMouseClick = "alert('You must be logged in to select seats.')";
	string classTags = null;
	string idTags = null;
}

@section scripts {
	@Scripts.Render("~/Scripts/SeatSelection/seatSelection.js")
	@Scripts.Render("~/Scripts/SeatSelection/Seat.js")
}

<div class="regBG">
	<div id="layoutArea" style="position:relative;">
		@{ foreach (var tbl in Model.tables) {
		 currSeat = 0;
		 seatingStyle = "position:absolute; left:" + tbl.leftOffset + "px; top:"
			+ tbl.topOffset + "px;";
		 if (tbl.orientation == "Horizontal") {
			 row_num = tbl.width;
			 cell_num = tbl.length;
		 } else {
			 row_num = tbl.length;
			 cell_num = tbl.width;
		 }
		 <div class="tableCont" style="@seatingStyle">Table @tbl.name
		<table class="seating" @seatingStyle >
			@{ for (i = 0; i < row_num; i++) {
				<tr>
				@{ for (j = 0; j < cell_num; j++) {
					Model.tblCurrSeat = tbl.seats.ElementAt(currSeat);
					// TODO: need to figure out a way to efficiently figure out a user for a seat.
					// idea: build the list before hand?  Create classes that extend the table/seat objects?
					if (Model.tblCurrSeat.seat_user.Any()) {
						Model.currSeatUser = Model.tblCurrSeat.seat_user.First();
					} else {
						Model.currSeatUser = null;
					}
					// Goal: seatinfo_show(obj, tableName, seatName, username, paid)
					mouseOverJS = "seatinfo_show(this, "
						+ "'" + tbl.name + "', "
						+ "'" + tbl.seats.ElementAt(currSeat).name + "', ";
					if (Model.currSeatUser != null) {
						mouseOverJS += "'" + Model.currSeatUser.user.username + "', ";
						if (Model.currSeatUser.paid) {
							mouseOverJS += "true)";
						} else {
							mouseOverJS += "false)";
						}
					} else {
						mouseOverJS += "null, false)";
					}
					idTags = tbl.name + Model.tblCurrSeat.name;
					mouseClickJS = "seatClicked(" + Model.tblCurrSeat.id + ", "
									+ Model.currUser.id + ", "
									+ Model.layoutID + ", "
									+ Model.partyID + ", "
									+ idTags + ", ";
					classTags = null;
					if (Model.currSeatUser != null) { // if someone has the seat
						if (Model.currSeatUser.user_id == Model.currUser.id) { // seat is the user's seat
							mouseClickJS += "true)";
							if (!Model.currSeatUser.paid) { // seat is reserved by user, not paid
								classTags = "userReserved seat";
							} else { // seat is paid for by current user
								classTags = "userTaken seat";
							}
						} else { // seat is someone else's
							mouseClickJS = "";
							if (!Model.currSeatUser.paid) { // seat is reserved, not paid
								classTags = "reserved seat";
							} else { // seat is paid for by some user
								classTags = "taken seat";
							}
						}
					} else { // nobody has the seat yet!
						mouseClickJS += "false)";
						if (Model.currUser.id == 0) { // but nobody is logged in. =[
							mouseClickJS = noUserMouseClick;
						}
						classTags = "available seat";
					}
					<td onmouseover="@mouseOverJS" onmouseout="@mouseOutJS" onclick="@mouseClickJS" class="@classTags" id="@idTags" />
					currSeat++;
				}}
				</tr>
			}}
		</table>
		</div>
		}}
	</div>
</div>

<div id="rightLeg">
	<fieldset class="cart">
        <legend>Seat Options</legend>
        <div>
            <span id="chosenMessage">No seats selected.</span><br />
            <button id="confirmBtn">Puchase Seats</button><br />
            <button id="clearReservedBtn" onclick="if(!confirm('Are you sure you want remove all of your currently reserved seats?')) return false">Clear Reserved Seats</button><br />
        </div>
    </fieldset>
	<fieldset class="legend">
        <legend>Legend</legend>
        <table id="legend">
            <tr><td colspan="3">Total Seats: [SEATS]</td></tr>
            <tr>
                <td class="available seat"</td>
                <td>Available seat(s)</td>
                <td>[Avail]</td>
            </tr>
            <tr>
                <td class="reserved seat"></td>
                <td>Reserved seat(s)*</td>
                <td>[Reserved]</td>
            </tr>
            @{if (Model.currUser.id > 0) {
				@:<tr><td class="userReserved seat"></td><td>Your reserved seat(s)</td><td></td></tr>
				@:<tr><td class="userTaken seat"></td><td>Your paid seat(s)</td><td></td></tr>
			}}
            <tr>
                <td class="taken seat"</td>
                <td>Paid seat(s)</td>
                <td>[Paid]</td>
            </tr>
            <tr><td colspan="3">*Reserved seats are reset if not paid for within [NUMMINUTES] minutes.</td></tr>
        </table>
    </fieldset>
</div>

<div id="hoverbox"></div>