﻿<h3>Here are some basic functionality things that I have accomplished:</h3>
<ol class="round">
	<li class="one">
		<h5>Create a Group</h5>
		Are you a leader of an organization that wants to host LAN parties?  Awesome!  This site is just for you!
		You can click the link below and create your very own group home page!
		<br />
		@Html.ActionLink("Create a Group", "Create", "Organization")
	</li>

	<li class="two">
		<h5>Create an Event</h5>
		Once you have created your group, you will have the ability to create an event that is 'hosted' by that group!
		The event creation will only be available to users who are owners/staff of a group.
		<br />
		@Html.ActionLink("Create an Event", "Create", "Party")
	</li>

	<li class="three">
		<h5>Create a Layout</h5>
		This feature will only be available to users who are administrators of an event and/or organization.  But for now
		why not let everyone test it out!  You will be able to create layouts and then assign them to events!
		<br />
		@Html.ActionLink("Create a Layout", "Create", "Layout")
	</li>
</ol>