﻿@model LANREG.Models.HomeRightColumnModel

<div>
	<h3>Newest Groups</h3> @Html.ActionLink("(See All)", "Index", "Organization")
	<table style="border-left: 1px solid black; padding-left:10px; margin-top:10px;">
	@foreach (var item in Model.organizations) {
		<tr>
			<td>
				@Html.ActionLink(item.name, "Details", "Organization", new { org_url = item.org_url }, null)
			</td>
		</tr>
	}
	 </table>
	<h3>Newest Events</h3> @Html.ActionLink("(See All)", "Index", "Party")
	<table style="border-left: 1px solid black; padding-left:10px; margin-top:10px;">
	@foreach (var item in Model.parties) {
		<tr>
			<td>
				@Html.ActionLink(item.name, "Details", "Party", new { org_url = item.organization.org_url, party_url = item.party_url }, null )
			</td>
		</tr>
	}
	 </table>
</div>