﻿@model LANREG.Models.party

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>party</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.paypal)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.paypal)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.layout.name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.layout.name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.organization.name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.organization.name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.party_url)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.party_url)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
